---
import { Image } from "astro:assets";
import { cn, formatPostTitle } from "@/lib/utils";
const { image, title, slug, categories } = Astro.props;
---

<a href={`/${slug}`}>
  <Image
    title={image.title}
    src={image.sourceUrl}
    alt={image.altText}
    width="600"
    height="300"
    class="blurred-edges mb-2 h-[250px] w-auto object-cover contrast-125 saturate-0 lg:h-[350px] xl:h-[400px]"
  />

  <h5
    class="font-open-sans m-auto mb-6 line-clamp-3 h-[3lh] max-w-[40ch] text-balance px-4 text-center text-white md:text-base lg:text-2xl"
  >
    {formatPostTitle(title)}
  </h5>

  <button
    class={cn(
      "b-2 font-bakbak m-auto block w-fit border-2 border-white px-4 py-1 text-2xl uppercase transition-all",
      "text-white",
      "hover:bg-white hover:text-black group-hover:bg-white group-hover:text-black",
    )}
  >
    {categories.nodes.some((node: any) => node.name === "Vidéo") ? "Voir" : "Lire"}
  </button>
</a>
