---
import H2 from "@/components/H2";
import PageLayout from "@/layout/PageLayout/PageLayout.astro";
import { fetchSearchPosts } from "@/lib/wordpress";
import Results from "./_components/Results";

const url = new URL(Astro.request.url);
const searchParams = new URLSearchParams(url.searchParams);

let term = "";
let categorySlug = null;
let author = null;

if (searchParams) {
  term = searchParams.get("term") ?? "";
  categorySlug = searchParams.get("category") ?? null;
  author = searchParams.get("author") ?? null;
}

const { posts, pageInfo, categoryName } = await fetchSearchPosts({
  term,
  categorySlug,
  author,
});

// prettier-ignore
const title = term         ? `Résultats pour "${term}"` :
              categorySlug ? `Catégorie "${categoryName}"` :
              author       ? `Tous les articles de ${author.replace(/[^a-zA-Z]/g, ' ')}` :
              "Tous les articles";

export const prerender = false;
---

<PageLayout title={title}>
  <article slot="content">
    <H2>
      {title}
    </H2>
    <Results
      client:idle
      term={term}
      categorySlug={categorySlug}
      author={author}
      initialPosts={posts}
      initialPageInfo={pageInfo}
    />
  </article>
</PageLayout>
