---
import { cn } from "@/lib/utils";
import { Image } from "astro:assets";
// import { ExternalLinkIcon } from "lucide-react";

const { paper } = Astro.props;
---

<a
  href={paper.link}
  target="_blank"
  rel="noopener noreferrer"
  class={cn(
    "group mx-auto block w-64 overflow-hidden rounded-xl border bg-white shadow-sm sm:w-72 md:w-full",
    "transition-all duration-300 hover:-translate-y-1 hover:shadow-lg",
  )}
>
  <!-- Top part -->
  <div class="relative overflow-hidden">
    <Image
      title={paper.title}
      src={paper.image}
      alt={paper.title}
      class="h-72 object-cover object-top transition-transform duration-300 group-hover:scale-105 sm:h-80 md:h-72"
    />

    <!-- Type badge -->
    <div class="absolute left-2 top-2">
      <span
        class={cn("rounded-full px-2 py-1 text-xs font-medium", {
          "bg-pale-yellow text-black": paper.type === "magazine",
          "bg-pale-purple text-white": paper.type === "book",
        })}
      >
        {paper.type === "magazine" ? "Magazine" : "Livre"}
      </span>
    </div>

    <!-- Author badge -->
    <div class="absolute bottom-2 right-2">
      <span class="bg-primary rounded-full px-2 py-1 text-xs font-medium text-black">{paper.author}</span>
    </div>
  </div>

  <!-- Content -->
  <div class="flex flex-col gap-1 p-4">
    <h3 class="group-hover:text-logo-yellow line-clamp-2 text-lg font-bold transition-colors">
      {paper.title}
    </h3>
    {paper.description && <p class="line-clamp-3 text-sm text-gray-600">{paper.description}</p>}
  </div>
</a>
