---
type Props = {
  name: string;
  slug: string;
  description: string;
  avatarUrl: string;
};

const { name, slug, description, avatarUrl }: Props = Astro.props;
---

<li class="overflow-hidden rounded-xl bg-white shadow-md transition-shadow duration-200 hover:shadow-lg">
  <a
    href={`/posts?author=${slug}`}
    class="flex h-full items-center gap-6 p-6"
    title={`Voir tous les articles de ${name}`}
  >
    <img
      src={avatarUrl}
      alt={`Avatar de ${name}`}
      class="size-24 rounded-full object-cover"
    />

    <div class="flex h-full flex-col gap-1">
      <h2 class="font-bebas text-2xl font-semibold">{name}</h2>
      <p class="font-open-sans line-clamp-3 text-gray-600">{description}</p>
      <p class="font-open-sans mt-auto text-sm text-gray-400 hover:text-gray-600">Voir tous les articles</p>
    </div>
  </a>
</li>
