---
import { TagIcon } from "lucide-react";
import { Image } from "astro:assets";
import { cn } from "@/lib/utils";

const { author, date, categories } = Astro.props;

let DD_MM_YYYY = date
  ? new Date(date).toLocaleDateString("fr-FR", {
      day: "2-digit",
      month: "2-digit",
      year: "numeric",
    })
  : null;
---

<div class={cn("flex flex-col flex-wrap gap-1 text-sm", "md:flex-row md:justify-between md:text-base")}>
  <div class="flex items-center gap-1">
    <a
      href={`/posts?author=${author.slug}`}
      class="flex items-center"
    >
      <div class={cn("mr-2 grid w-5 place-items-center")}>
        <Image
          title={author.name}
          alt={author.name}
          width={50}
          height={50}
          src={author.avatar.url}
          class="inline rounded-full"
        />
      </div>

      <span class={cn("text-base font-bold", "md:text-xl")}>{author.name}</span>
    </a>

    {
      date && (
        <>
          <span class="text-base md:text-xl">•</span>
          <span class="text-base md:text-xl">{DD_MM_YYYY}</span>
        </>
      )
    }
  </div>

  <div class="categories flex flex-wrap items-center gap-x-2 gap-y-0">
    {
      categories.map((category: any) => (
        <a
          href={`/posts?category=${category.slug}`}
          class="flex items-center gap-1"
        >
          <TagIcon className="w-3" />
          <span>{category.name}</span>
        </a>
      ))
    }
  </div>
</div>
