---
import PageLayout from "../PageLayout/PageLayout.astro";
import Title from "./components/Header/Title.astro";
import Metadata from "./components/Header/Metadata.astro";
import FeaturedImage from "./components/Header/FeaturedImage.astro";
import CardAuthor from "./components/Footer/CardAuthor.astro";
import Banner from "./components/Footer/Banner.astro";
import ScrollWatcher from "./components/ScrollWatcher.astro";

import { MoreArticles } from "./components/Footer/MoreArticles";
import { PostSummary } from "./components/PostSummary";

import "@/styles/wordpress.css";
import { cn, formatPostTitle } from "@/lib/utils";

const {
  title,
  author: { node: author },
  categories: { nodes: categories },
  date,
} = Astro.props;

const featuredImage = Astro.props?.featuredImage?.node;
---

<PageLayout {...Astro.props}>
  <ScrollWatcher slot="header" />
  <article slot="content">
    <!-- Header -->
    <div class="mb-[30px]">
      <Title>
        <Fragment set:html={formatPostTitle(title)} />
      </Title>
      <hr class="my-4 border-black/80" />
      <Metadata
        author={author}
        date={date}
        categories={categories}
      />
    </div>
    {featuredImage ? <FeaturedImage featuredImage={featuredImage} /> : null}

    <!-- Text -->
    <section class="content">
      <slot name="content" />
    </section>

    <!-- Footer -->
    <CardAuthor author={author} />
    <Banner />
    <MoreArticles client:idle />
  </article>

  <!-- Summary -->
  <div
    slot="right"
    class={cn("sticky top-[75px] mx-12", "hidden", "xl:block xl:max-w-[300px]", "2xl:max-w-[600px]")}
  >
    <PostSummary client:load />
  </div>
</PageLayout>
