---
import PageLayout from "@/layout/PageLayout/PageLayout.astro";
import SubscriptionCard from "./_components/SubscriptionCard.astro";
import SubscriptionFormWrapper from "./_components/SubscriptionFormWrapper";
import DonationFormWrapper from "./_components/DonationFormWrapper";
import H2 from "@/components/H2";

import { Image } from "astro:assets";
import Tipeee from "./_assets/tipeee.webp";
import numeroPapier2 from "@/assets/papers/numero-papier-2.webp";
import saintLuigi from "@/assets/papers/saint-luigi.webp";

import { cn } from "@/lib/utils";
import { OG_IMAGES_URL, SUBSCRIBERS_TARGET } from "@/constants";
import { SUBSCRIPTIONS } from "./_models";
import { Link } from "@/components/Link";

const { mini, maxi, medium } = SUBSCRIPTIONS;
const ogImageUrl = `${OG_IMAGES_URL}numero_2025.webp`;
---

<PageLayout
  title="S'abonner à Frustration Magazine"
  ogImageUrl={ogImageUrl}
>
  <article slot="content">
    <!-- 🅰️ Titles -->
    <H2> Frustration a besoin de vous ! </H2>
    <h3 class={cn("font-bakbak -mt-6 text-pretty text-center font-light uppercase", "text-2xl", "lg:text-4xl")}>
      Faites-nous grandir d'un coup 🌱
    </h3>
    <!-- 🔠 Text -->
    <article
      class={cn("font-open-sans mx-auto mt-8 w-[700px] max-w-[90vw] space-y-4 tracking-wide md:mt-10", "md:text-lg")}
    >
      <p>
        Frustration est un <b>média d’opinion, engagé et apartisan</b> : financés à 100% par nos lectrices et lecteurs, nous
        ne percevons ni subventions ni gros dons de millionaires. Nous ne touchons aucune recette publicitaire sur nos contenus.
        Par ailleurs, notre média en ligne est<b> entièrement gratuit et accessible à toutes et tous</b>. Ces conditions
        nous semblent indispensables pour pouvoir défendre un
        <b>point de vue radical, anticapitaliste, féministe et antiraciste</b>.
      </p>
      <p>
        Toutefois pour sortir d’un modèle encore très artisanal, très fragile et précaire, qui n’est pas viable sur le
        moyen terme, notamment du fait de l’augmentation très importante de notre lectorat en peu de temps, nous avons
        besoin de vous. Nous lançons donc cette campagne <b>pour atteindre {SUBSCRIBERS_TARGET} abonné.e.s</b>,
        c’est-à-dire {SUBSCRIBERS_TARGET}
        personnes qui, en donnant chaque mois 5, 9 ou 15€ permettent à tout le monde l’accès à un média 100% gratuit et sans
        publicité, libre de ses convictions et de son ton.
      </p>

      <p>Voici plus précisément à quoi sera consacré ce budget :</p>
      <ul class="list-disc space-y-2 pl-2">
        <li>
          Salarier une équipe de trois personnes à temps plein afin d’avoir une vraie continuité de publications tout en
          assurant des bonnes conditions de travail ;
        </li>
        <li>Le recours à davantage de chroniqueuses et chroniqueurs, ainsi qu’à des piges journalistiques ;</li>
        <li>La production beaucoup plus régulière de vidéos ;</li>
        <li>L’organisation d’évènements libres d’accès dans plusieurs villes et villages de France et de Belgique ;</li>
        <li>Un site optimisé capable de recevoir l’afflux de nouveaux et nouvelles internautes (+67% en un an) ;</li>
        <li>
          Le recours à un prestataire spécialisé pour l’envoi des cadeaux aux abonnés permettent une gestion plus fluide
          et efficace et des réceptions plus rapides ;
        </li>
        <li>Le recours à un cabinet comptable ;</li>
        <li>La co-édition du numéro annuel papier ;</li>
        <li>Les frais de notre plateforme ultra-sécurisée pour les dons ;</li>
      </ul>
      <p>
        Avec votre aide, vos relais, vos mots de soutiens, vos messages sur les réseaux sociaux, nous espérons atteindre
        cet objectif : <b
          >{SUBSCRIBERS_TARGET} abonnés pour permettre à Frustration de continuer et d’aller plus loin !</b
        >
      </p>
    </article>

    <section
      class={cn(
        "mt-8 space-y-4",
        "[&_ul]:space-y-2 [&_ul]:rounded-md [&_ul]:p-4 [&_ul]:text-lg [&_ul]:font-semibold",
        "[&_li]:flex [&_li]:items-start [&_li]:gap-2",
      )}
    >
      <!-- Disclaimer delay receipt -->
      <ul class="bg-blue-gray-100 text-blue-gray-600">
        <li>
          <span class="text-xl">ℹ️</span>
          <span>
            Un petit délai de quelques semaines entre votre abonnement et la réception de votre contrepartie (numéro
            papier ou livre) peut s'établir car nous référençons tous les nouveaux abonnés avec leurs coordonnées chaque
            mois avant de procéder à l'expédition des articles.
          </span>
        </li>
      </ul>

      <!-- Portail abonnés & formulaire de contact -->
      <ul class="bg-green-100 text-green-600">
        <li>
          <span class="text-xl">💡</span>
          <span>
            Vous pouvez à tout moment modifier, mettre à jour ou résilier votre abonnement via le <Link
              href={import.meta.env.STRIPE_PORTAL_CLIENT}
              target="_blank"
              >portail abonnés</Link
            > en utilisant l'adresse email renseignée lors de votre souscription.
          </span>
        </li>
        <li>
          <span class="text-xl">❓</span>
          <span>
            En cas de difficulté ou pour toute autre question, contactez-nous via le <br />
            <Link href="/contact">formulaire de contact</Link> en précisant le sujet de votre demande.
          </span>
        </li>
      </ul>
    </section>

    <h3
      id="formules"
      class={cn(
        "font-bakbak mt-14 text-pretty text-center font-bold uppercase",
        "mb-6 text-4xl",
        "sm:mb-6 sm:text-5xl",
        "md:mb-8 md:text-5xl",
        "lg:mb-20 lg:text-6xl",
      )}
    >
      Nos formules de soutien
    </h3>
    <!-- 🃏 CARDS -->
    <div
      class={cn(
        "relative left-1/2 grid w-[1100px] max-w-[90vw] -translate-x-1/2 gap-6",
        "grid-cols-1",
        "lg:grid-cols-3",
      )}
    >
      <!-- 🤏 MINI -->
      <SubscriptionCard {...mini}>
        <p>
          ✊ Notre <b>newsletter</b> régulière
        </p>
      </SubscriptionCard>

      <!-- 💪 MEDIUM -->
      <SubscriptionCard
        {...medium}
        additionalClass="lg:-translate-y-10"
      >
        <p>
          ✊ Notre <b>newsletter</b> régulière
        </p>
        <p>
          🗞️ <b>Numéro papier 2025</b>
        </p>
        <div class="mt-auto flex w-full justify-center">
          <Image
            class="drop-shadow-lg"
            width="110"
            height="110"
            src={numeroPapier2}
            alt="Couverture du numéro papier Frustration 2025"
          />
        </div>
      </SubscriptionCard>

      <!-- 💥 MAXI -->
      <SubscriptionCard {...maxi}>
        <p>
          ✊ Notre <b>newsletter</b> régulière
        </p>
        <p>
          🗞️ <b>Numéro papier 2025</b>
        </p>
        <p>
          📕 1 exemplaire de <b><i>Saint Luigi</i></b>
        </p>
        <div class="mx-auto flex w-full items-center justify-center gap-4">
          <Image
            class="drop-shadow-lg"
            width="110"
            height="110"
            src={numeroPapier2}
            alt="Couverture du numéro papier Frustration 2025"
          />
          <span class={cn("text-xl", "lg:text-3xl")}>+</span>
          <Image
            class="drop-shadow-lg"
            width="100"
            height="100"
            src={saintLuigi}
            alt="Couverture de Saint Luigi"
          />
        </div>
      </SubscriptionCard>
    </div>

    <a
      class="mb-8 mt-24 block text-center"
      href={import.meta.env.TIPEEE_URL}
      target="_blank"
    >
      <h5 class={cn("font-montserrat mb-4 text-balance font-bold", "text-2xl", "md:text-3xl")}>
        Vous pouvez aussi nous soutenir sur notre Tipeee 😃 <br />
        👇
      </h5>
      <Image
        src={Tipeee}
        class="mx-auto"
        width="200"
        alt="Logo de la plateforme de financement participatif Tipeee"
      />
    </a>
    <!-- <MarqueeDemo
        client:load
        reviews={reviews}
      /> -->

    <!-- 📝 💰 FORMS 💰 -->
    <div class={cn("mb-6 mt-6", "md:mb-12 md:mt-12")}>
      <SubscriptionFormWrapper client:load />
    </div>

    <div class={cn("mb-6 mt-6", "md:mb-12 md:mt-12")}>
      <DonationFormWrapper client:load />
    </div>
  </article>
</PageLayout>
