---
import PageLayout from "@/layout/PageLayout/PageLayout.astro";
import { EventsTabs } from "./_components/EventsTabs";
import H2 from "@/components/H2";
import H3 from "@/components/H3";

import { Image } from "astro:assets";
import saintLuigi from "@/assets/papers/saint-luigi.webp";

import { readRecords } from "data-access/prisma";
import { type events as Event } from "@prisma/client";
import { OG_IMAGES_URL } from "@/constants";
import { setCacheHeaders, CachePresets } from "@/lib/cache";

export const prerender = false;
setCacheHeaders(Astro.response.headers, CachePresets.medium);

const TITLE = "Événements";
const DESCRIPTION = "Liste des événements à venir autour de Frustration Magazine et Nicolas Framont";
const ogImageUrl = `${OG_IMAGES_URL}evenements.webp`;

const { data: events }: { data: Event[] } = await readRecords({
  table: "events",
  where: { displayEvent: true },
  orderBy: {},
  success: "Events read!",
});

const futureEvents = events
  .filter(({ date }) => date >= new Date())
  .sort((a, b) => a.date.getTime() - b.date.getTime());
const pastEvents = events.filter(({ date }) => date < new Date()).sort((a, b) => b.date.getTime() - a.date.getTime());
---

<PageLayout
  title={TITLE}
  description={DESCRIPTION}
  ogImageUrl={ogImageUrl}
>
  <article slot="content">
    <H2>Frustra'tour</H2>
    <H3 className="mb-8 text-center"
      >Venez rencontrer l'équipe de Frustration Magazine lors de nos événements publics !</H3
    >

    <EventsTabs
      client:load
      futureEvents={futureEvents}
      pastEvents={pastEvents}
    >
      <Image
        src={saintLuigi}
        alt={`Couverture de "Saint Luigi" de Nicolas Framont`}
        width="200"
        height="500"
      />
    </EventsTabs>
  </article>
</PageLayout>
