---
import { fade } from "astro:transitions";
import Head from "../Head.astro";

import Footer from "./Footer/Footer.astro";
import Header from "./Header/Header.astro";

import "@fontsource/bakbak-one";
import "@fontsource/bebas-neue";
import "@fontsource/martel";
import "@fontsource/montserrat/400.css";
import "@fontsource/montserrat/600.css";
import "@fontsource/open-sans/300.css";
import "@fontsource/open-sans/400.css";
import "@fontsource/open-sans/700.css";
import "@fontsource/parisienne";
import "@fontsource/roboto";

import "../../styles/global.css";

const DEFAULT_IMAGE = "/img/default.png";
const DEFAULT_DESCRIPTION = "Frustration Magazine, média indépendant et offensif qui relate la guerre des classes.";

const { title, description = DEFAULT_DESCRIPTION, author, coverImage } = Astro.props;
const featuredImage = Astro.props?.featuredImage?.node;
const ogImage = featuredImage?.sourceUrl ?? coverImage ?? DEFAULT_IMAGE;

let width: number | undefined;
let height: number | undefined;
let mimeType: string | undefined;

if (featuredImage?.mediaDetails) {
  width = featuredImage?.mediaDetails?.width;
  height = featuredImage?.mediaDetails?.height;
  mimeType = featuredImage?.mimeType;
}
---

<!doctype html>
<html
  lang="fr"
  class="scrollbar scrollbar-thumb-frustration-yellow scrollbar-track-black bg-black"
>
  <Head
    title={title}
    author={author}
    description={description}
    ogImageUrl={ogImage}
    {...width ? { width } : null}
    {...height ? { height } : null}
    {...mimeType ? { mimeType } : null}
  />
  <title>Frustration Magazine - {title}</title>
  <body class="flex min-h-screen flex-col bg-white">
    <Header transition:persist />
    <main class="flex grow flex-col">
      <slot transition:animate={fade({ duration: "0.4s" })} />
    </main>
    <Footer transition:persist />
  </body>
</html>
